.board-btn-danger {
  background-color: green;
}

.b-header {
  margin-bottom: 100px;
  margin-top: 30px;
  text-align: center;
  margin-top: 80px;
}

.board-table-striped {
  /* --bs-table-color: salmon; */
  margin-top: 100px;
}

/* 아니 이 a태그 어디있는거에여? 저진짜 절대안보여요.. */
a {
  color: rgba(0, 0, 0, 0.815);
  text-decoration: none;
}

.b-form {
  width: 100%;
}

tr.b-List th {
  text-align: center;
}

tr.b-List > th {
  color: #dc3545;
  font-size: 21px;
}

tr.b-List td {
  height: 60px;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
}

.board-list-title {
  text-align: left;
  margin-left: 50px;
}

/* 게시글 작성할때 내용부분 영역 늘리기 안되게 하는부분 */
td.b-write textarea {
  resize: none;
}

td span.board-btag {
  text-align: left !important;
}

td.board-write-td {
  height: 100px;
  text-align: center;
  font-size: 20px;
}

.b-form tbody tr td {
  height: 50px;
  padding: 10px 0;
}

.board-input {
  width: 100%;
}

.btn-area {
  text-align: right;
}

.btn-area.change {
  padding-top: 50px;
}

.btn-area .btn-lim {
  margin-right: 10px;
}

.btn-area .btn-lim2 {
  margin-right: 10px;
}

.write-area {
  margin-top: 50px;
}

.write-padding {
  padding-top: 80px;
}

.board-view-content {
  height: 300px;
}

.bottom-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.bottom-a ul.pagination {
  margin: 0;
}

/* danger버튼 with 화이트글씨 */
.btn-danger-delete {
  margin-left: 5px;
  background-color: #dc3545;
  color: white;
}

.board-view-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

.board-view-table {
  margin-top: 80px;
  font-size: 15px;
}

tbody.board-view-table-body tr th {
  text-align: center;
}

.paging-a {
  display: flex;
  flex-direction: row;
}

.active > .page-link {
  background-color: #dc3545;
  border-color: #dc3545;
}

.page-link {
  color: black;
  --bs-pagination-focus-box-shadow: none;
}

/* 첨부파일 제목테두리 없애기 */
.btn-download {
  border: 0;
}

.for-footer-board {
  padding-bottom: 200px;
}
