.image-box {
    width:100%;
    height:400px;
    overflow:hidden;
    margin:0 auto;
}

.image-thumbnail {
    width:100%;
    height:100%;
    object-fit:cover;
}

.poster-box {
    width:100%;
    height:100%;
    object-fit: cover;
    padding: 10%;
    background-clip: content-box;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: space-between;
}