.image-box {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}

.image-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poster-box {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10%;
  background-clip: content-box;
}

.justify-content-space-between {
  justify-content: space-between;
}

.page-item:first-child .page-link {
}

.page-item:last-child .page-link {
}

.context-area {
  width: 100%;
  height: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 회원가입 */
.join .row {
  align-items: center;
  flex-direction: column;
}

.join .insert-area {
  display: flex;
  justify-content: space-between;
}

.join .insert-area input {
  width: 70%;
}

.password-check {
  color: blue;
}

.password-checkError {
  color: red;
}

/* 로그인 */
.login {
  width: 400px;
  height: 500px;
  padding: 0px;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.login .row {
  align-items: center;
  flex-direction: column;
}

.login .insert-area {
  /* display: flex; */
  justify-content: space-between;
}

.login .insert-area input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 100px;
  background-color: #f8f8f8;
}
