.image-box {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}
.image-box-detail {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}

.image-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poster-box {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10%;
  background-clip: content-box;
}

.justify-content-space-between {
  justify-content: space-between;
}

.context-area {
  width: 100%;
  height: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 회원가입 */
.join .row {
  align-items: center;
  flex-direction: column;
}

.join .insert-area {
  display: flex;
  justify-content: space-between;
}

.join .insert-area input {
  width: 70%;
}

.password-check {
  color: blue;
}

.password-checkError {
  color: red;
}

/* 회원가입에서 id input 창 크기조절
.form-control.id {
  width: 100%;
} */

/* 로그인 */
.login {
  width: 400px;
  height: 500px;
  padding: 0px;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.login .row {
  align-items: center;
  flex-direction: column;
}

.login .insert-area {
  /* display: flex; */
  justify-content: space-between;
}

.login .insert-area input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 100px;
  background-color: #f8f8f8;
}

/* 회원정보수정 */
.edit .row {
  align-items: center;
  flex-direction: column;
}

.edit .insert-area {
  /* display: flex; */
  justify-content: space-between;
}

.edit .insert-area input {
  width: 85%;
}

.edit .mbti-area {
  display: flex;
  justify-content: space-between;
}

.col-12.edit-btn {
  margin-top: 30px;
}

.btn-danger.lim-btn {
  width: 200px;
}

/* 회원탈퇴 버튼 하단 여백 */
.delete .col-12 {
  margin-bottom: 300px;
}

/* 로그인, 회원정보 수정 타이틀 마진 */
.text-center.mx-auto.client {
  margin: 28px;
}

/* 메인페이지 CSS */
.movielist-title {
  font-size: 25px;
  margin-right: auto;
}

.number-hear {
  background-color: red;
  position: absolute;
  display: block;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.ott-tag {
  position: absolute;
  right: 0px;
  bottom: 75px;
  display: flex;
  flex-direction: row-reverse;
}

/* MovieDetail 썸네일 위에 플랫폼 이미지 띄우기 */
.image-box-detail {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.ott-tag-detail {
  position: absolute;
  display: flex;
}

.platform-icon-detail {
  width: 100px;
}
/* MovieDetail 썸네일 위에 플랫폼 이미지 띄우기 끝 */

.platform-icon {
  height: 40px;
  width: 40px;
}

.main-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: space-between;
}

.main-title img {
  width: 120px;
  margin-left: 60px;
}

.navbar-nav.baseL {
  width: 100%;
  justify-content: flex-end;
}

.card-text-main {
  font-size: 17px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer {
  margin-top: 70px;
  bottom: 0;
  width: 1200px;
  padding: 10px;
  text-align: left;
}

.card-img-top.size {
  height: 280px;
}

.search-input {
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #f2f2f2;
}

.top-header {
  text-align: right;
}

.lim-header {
  padding-top: 15px;
}

.search-area {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

/* 팝업관련 */
.popup-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.popup-btn {
  margin-top: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 10px 20px;
}

.popup-btn.btn-l {
  margin-right: 10px;
}

.popup-div-a {
  padding: 30px 50px;
}

.popup-content {
  font-size: 15px;
  text-align: center;
}

.btn-hap {
  display: flex;
  justify-content: center;
}
